@media print {
  .header,
  .footer,
  .profile-sidebar {
    display: none;
  }
  .home-layout {
    grid-template-columns: 1fr;
  }
  .content-area {
    box-shadow: none;
    padding: 0;
  }
  body {
    background-color: #fff;
  }
}
