* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-family;
  line-height: 1.6;
  color: $color-text;
  background-color: $color-background;
  font-size: $font-size-base;
}
