h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3;
  margin-top: $space-xl;
  margin-bottom: $space-lg;
  color: $color-secondary;
}
p {
  margin-bottom: $space-lg;
  line-height: 1.7;
  color: $color-text;
}
a {
  color: $color-primary;
  text-decoration: none;
  transition: all $transition-normal;
  position: relative;
}
a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: $color-primary;
  transition: width $transition-normal;
}
a:hover {
  color: $color-secondary;
}
a:hover::after {
  width: 100%;
}
ul,
ol {
  margin-bottom: $space-lg;
  padding-left: $space-xl;
}
li {
  margin-bottom: $space-sm;
  line-height: 1.7;
}
code {
  background-color: $color-background;
  color: $color-accent;
  padding: 0.2rem 0.4rem;
  border-radius: $border-radius-sm;
  font-family: $font-family-mono;
  font-size: 0.9em;
  transition: all $transition-normal;
}
blockquote {
  border-left: 4px solid $color-primary;
  padding: $space-md $space-lg;
  margin-bottom: $space-lg;
  background-color: $color-background;
  color: $color-text-light;
  font-style: italic;
  border-radius: 0 $border-radius-sm $border-radius-sm 0;
}
hr {
  border: none;
  height: 1px;
  background-color: $color-border;
  margin: $space-xxl 0;
}
